/* colors */

* {
  al:   #00000000;    /* Transparent */
  bg:   #3B4252FF;    /* Updated background color to #3B4252 */
  bga:  #3B4252FF;    /* Updated background accent to #3B4252 */
  fg:   #88C0D0FF;    /* Light bluish-gray */
  ac:   #81A1C1FF;    /* Light blue (accent) */
  se:   #88C0D0FF;    /* Updated to light bluish-gray for border/accent */
}
