/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * (2024) Minimal Full Waybar Scroll
 * ----------------------------------------------------- 
*/

@define-color iconcolor #cad3f5;
@define-color hovercolor #ed8796;
@define-color gbcolor rgba(0, 0, 0, 0.1);

/* -----------------------------------------------------
 * General Styles
 * ----------------------------------------------------- */

* {
    font-family: "Inter", FontAwesome;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: rgba(36, 39, 58, 0.9);
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    padding: 0;
    margin-left: 10px;
    border: none;
}

#workspaces button {
    padding: 0 4px;
    border: none;
    color: @iconcolor;
    background: transparent;
}

#workspaces button:hover {
    opacity: 0.0;
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0.0);
}

#workspaces button.active {
    background-color: @gbcolor;
    color: @hovercolor;
    border-radius: 5px;
    padding: 0 5px;
}



