/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * (2024) Minimal Full Waybar Scroll - Catppuccin
 * ----------------------------------------------------- 
*/

@define-color iconcolor #cad3f5;
@define-color hovercolor #ed8796;
@define-color gbcolor rgba(0, 0, 0, 0.1);

/* -----------------------------------------------------
 * General Styles
 * ----------------------------------------------------- */

* {
    font-family: "Inter", FontAwesome;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: rgba(36, 39, 58, 0.9);
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    padding: 0;
    margin-left: 10px;
    border: none;
}

#workspaces button {
    padding: 0 4px;
    border: none;
    color: @iconcolor;
    background: transparent;
}

#workspaces button:hover {
    opacity: 0.0;
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0.0);
}

#workspaces button.active {
    background-color: @gbcolor;
    color: @hovercolor;
    border-radius: 5px;
    padding: 0 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Change @hovercolor, @bgcolor, & @iconcolor
 * ----------------------------------------------------- */

#network.ethernet,
#memory,
#cpu,
#custom-exit,
#custom-appmenu,
#clock {
    background-color: @gbcolor;
    color: @iconcolor;
    border-radius: 5px;
    padding: 0 5px;
}

#network.ethernet:hover,
#custom-appmenu:hover,
#clock:hover,
#custom-exit:hover,
#cpu:hover,
#memory:hover {
    color: @hovercolor;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @gbcolor;
    color: @iconcolor;
    font-size: 1.2em;
    padding-left: 10px;
}

#custom-exit {
    background-color: @gbcolor;
    color: @iconcolor;
    font-size: 1.15em;
    padding-right: 10px;
}

/* -----------------------------------------------------
 * Pulseaudio Volume
 * ----------------------------------------------------- */

#pulseaudio {
    opacity: 0;
}

#pulseaudio.muted {
    padding-right: 6px;
    color: @hovercolor;
    opacity: 1;
    margin-top: 1px;
}

/* -----------------------------------------------------
 * Network & Disconnected
 * ----------------------------------------------------- */

#network.ethernet {
    font-size: 1.1em;
}

#network.disconnected {
    background-color: #BF4040;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Tooltips & Calendar
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: #181926;
}

tooltip label {
    color: @iconcolor;
    margin: 10px;
}

